.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: yellow;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.big-card {
  grid-column: 2 / 4;

  /* grid-column: span 2; */
}
