.practice-card {
  width: 700px;
  border: 1px solid black;
  padding: 20px;
  background-color: bisque;
}

.text-content-overflow {
  width: auto;
  height: 150px;
  border: 2px solid yellow;
  overflow: auto;
}

.image-container {
  width: 450px;
  height: 350px;
  border: 2px solid red;
  overflow: hidden;
}

.practice-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
